<div data-role="header">
  <a href="#" data-iconpos="notext" data-direction="reverse" data-icon="arrow-l"></a>
  <h1><%= page.title %></h1>
  <%= page.custom_fields.mobile_header %>
</div><!-- /header -->
<div data-role="content" data-inset="true">
  <%= page.custom_fields.mobile_content %>
</div><!-- /content -->
<div data-role="footer" data-position="fixed" data-theme="c"> 
  <%= page.custom_fields.mobile_footer %>
</div><!-- /footer -->
<div data-role="page" id="product-1" data-theme="d">
  <div data-role="header" data-theme="a">
    <a data-icon="arrow-l" data-rel="back" data-transition="slide" data-iconpos="notext">Back</a>
    <h1>Chex Products</h1>
  </div>
  <div data-role="content" id="product-1-content">
    <%= page.custom_fields.mobile_content %>
  </div><!-- /content -->
  <div data-role="footer" data-position="fixed" data-theme="c"> 
    <div id="navbar" data-role="navbar" data-grid="c">
      <ul>
        <li><a href="#product-1-overview" class="ui-btn-active first">Overview</a></li>
        <li><a href="#product-1-description">Description</a></li>
        <li><a href="#product-1-features">Features</a></li>
        <li><a href="#product-1-materials">Materials</a></li>
      </ul>
    </div>
   </div> <!-- /footer -->   
</div>